.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin: 5rem 0;

}

@media (min-width: 768px) {
    .contenido{
        display: flex;
        justify-content: space-between;
    }
}

.copyright{
    color: var(--white);
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 700;
}

.white{
    color: white;
}