:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}[class*="headingblack"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--black);
  margin: 5rem 0;
  margin-left: 10px;
}

.navegacion{
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .navegacion{
      margin: 0;
  }
}

.navegacion a{
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 300ms;
}

.error, .error-enlace {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}

.error-enlace {
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  color: var(--primary);
}

.primera{
  display: flex;
}

.datos{
  padding: 3rem;
  display: flex;
}

.datos label {
  margin-right: 3rem;
  color: var(--primary);
  font-weight: 700;
}

.datos input {
  display: flex;
  justify-content: center ;
}

.button {
  display: flex;
  /* margin: 0 auto; */
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: var(--primary);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  padding: 1rem;

}
.flex{
  margin-left: 3rem;
}

.mt-5{
  margin-top: 13rem;
}

.borderb {
  border-bottom: 1px groove #333;
}