


.titulo {
    color: var(--primary);
    width: 10%;
}

.part1 {
    margin: 2rem;
    width: 50%;
}

.part1 label {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.part1 input {
  margin-left: -10rem;
}


.flex {
    display: flex;
    justify-content: center;

}





.newAccount {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color:rgb(41, 41, 227) ;
    cursor: pointer;
  }

  .form2 {
    margin-top: -25px;
    margin-left: 15rem;

  }

  .btnRe {
    width: 70%;
    padding: .5rem;
    margin-left: -2rem;
    background-color: var(--primary);
    color: white;
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 300ms;
  }
  .btnRe:hover {
    background-color: rgb(200, 134, 13);
    transition: 300ms;
  }


  .btnRe2 {
    width: 45%;
    padding: 1rem;
    background-color: rgb(68, 207, 68);
    color: white;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 300ms;
  }

  .btnRe2:hover {
    background-color: rgb(19, 122, 19);
    transition: 300ms;
  }

  .btnRe3 {
    width: 45%;
    padding: 1rem;
    background-color: var(--primary);
    color: white;
    margin-left: -5rem;
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 300ms;
  }

  .btnRe3:hover {
    background-color:rgb(200, 134, 13);
  }

  .btnstyle{
    display: flex;
  }

  @media (min-width: 768px) {
    .btnRe {
      margin-left: 36rem;
      width: 20%;
    }
    .part1 input {
      margin-left: 2rem;
    }
  
    .part1 label {
      margin-left: 20px;
    }
    .btnRe2 {
      width: 22%;
      margin-left: 9rem;
    }
    .btnRe3 {
      width: 20%;
      margin-left: 3rem;
    }
  }